body {
  width: 100%;
  height: 100vh;
  background: #F5EBA2;
}

h1, h2, h3 {
  color: #5F585C;
  font-family: 'Abril Fatface', cursive;
}

p {
  color: #70BA78;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
}

button {
  font-family: 'Abril Fatface', cursive;
}

.intro {
  width: 100%;
  padding: 2%;
  text-align: center;
}

#play-btn {
  width: 180px;
  margin: 1%;
}

.score {
  text-align: center;
}

.match {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hands {
  text-align: center;
  width: 100%;
}

.player-hand {
  transform: rotateY(180deg);
}

.player-rounds-won, .bot-rounds-won, h3 {
  font-size: 1.3rem;
}

.options {
  width: 100%;
  text-align: center;
}

.btn {
  width: 90px;
  height: 4pc;
  font-size: 1.2rem;
  cursor: pointer;
}

/* JS Classes */
div .fadeIn {
  opacity: 1;
  pointer-events: all;
}
div .fadeOut {
  opacity: 0;
  pointer-events: none;
}

/* div.fadeOut {
  transition: opacity 0.5s ease 0.5s;
} */